@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-bg: #494368;
  --custom-1: #ceec97;
  --custom-2: #f4b393;
  --custom-3: #fc60a8;
  --custom-4: #7a28cb;
  --custom-5: #022b3a;
  --custom-6: #ff0000;
  --custom-7: #1f7a8c;
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
